
html, body {
    margin: 0;
    width: 100%;
    height: 100%;

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5dc;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.cassette {
    width: 600px;
    /* height: 400px; */
    box-sizing: border-box;
    background: #FFC04C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.player{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}


.circle{
  width:100px;
  height:100px;
  border:1px solid #000000;
  position: relative;
  top:0; bottom:0; left:0;right:0;
  margin:auto;
  border-radius:50%; 
}

.circle__animation{
  width:20px;
  height:20px;
    background: #000000;  
    border-radius:50%;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  overflow:hidden;
  margin:auto;
  animation: circle 6s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-50px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-50px)
              rotate(-360deg);
  }
}
.station-name {
    font-size: 20px;
    font-weight: 600;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
   
}
.button:focus {
    outline: none;
    border: 1px solid #000000;
}
.stationList p {
    font-size: 20px;
    text-align: center;
}
.button img {
    max-width: 50px;
    max-height: 50px;
}
.stations {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.addNewStation {
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

.buttonBlack {
    background: #000000;
    color: #FFC04C;
    padding: 10px;
    font-size: 14px;
    border-radius: 20%;
    cursor: pointer;
    border: none;
}
.buttonBlack:focus {
    border: 1px solid #000000;
    outline: none;
    background: #FFC04C;
    color: #000000;
}
.buttonBlack:disabled {

    opacity: 0.6;
}
.station {
    color: #000000;
    text-decoration: none;
    padding: 6px;
    cursor: pointer;
    font-size: 17px;
    background: transparent;
    border: none;
    text-align: left;

}
.container {
    display: flex;
}

.station.active {
    color: #e59400;
}
.station:hover {
    color: #e59400;
}
.station:focus {
border: none;
border-bottom: 1px solid #000000;
outline: none;
}
.station p {
    margin: 0;
}
.form {
    text-align: center;
    padding-top: 20px;
    visibility: hidden;
}
.form.active {
    visibility: visible;
}
.form input {
    height: 40px;
    border-radius: 10px;
    width: 180px;
    border: #e59400 1px solid;
    padding: 0 15px;
    margin-bottom: 8px;
}
.form input:focus {
    outline: none;
    border: 1px solid #000000;

}
.validationInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.validationInput span {
    color: red;
    position: absolute;
    top: 100%;
}